<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="corqboard - the blog" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Header Font -->
   <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>

</head>

  <!-- jquery -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

  <script>
    $(document).ready(function () {
      var postLinks = $('.thisPost');
      //todo: dry this up later
      $(postLinks).click(function(e){
        e.preventDefault();
        var link = $(this).find('a').attr('href');
        var currentState = history.state;
        window.history.pushState(currentState, '', link);

        $(postLinks).not(this).removeClass('selectedPost');
        $(this).addClass('selectedPost');

        $.ajax({url: link,type:'get',dataType: 'html',success: function(data) {
            var data = $('<div />').html(data).find('#post, #related');
            $('#rightSideInner').html(data);
          }});
      });

      window.addEventListener('popstate', function(e) {
        var link = location.pathname;
        var reselect = $('.thisPost').has('a[href="'+link+'"]');
        $('.thisPost').not(reselect).removeClass('selectedPost');
        $(reselect).addClass('selectedPost');

        if(link == '/') {
          //hack to return to root if refresh on direct post URL
          location.reload();
        }else {
          $.ajax({url: link,type:'get',dataType: 'html',success: function(data) {
              var data = $('<div />').html(data).find('#post, #related');
              $('#rightSideInner').html(data);
            }});
        }
      });
    });
  </script>
<body>
<div class="leftSide">
  <div class="leftSideInner">
    <div class="site">
      <div class="title blogHeader"><a href="http://www.corqboard.org">corqboard</a> / <a href="https://blog.corqboard.org">blog</a></div>
      
      {{ content }}
      
    </div> <!-- site -->
  </div>
</div><!-- leftSide -->

<div class="rightSide">
  <div id="rightSideInner">
  </div>
</div>

</body>
</html>
