---
layout: default
---
<style scoped>
.rightSide {
	/*this is a hack-- fix later */
	display:none;
}
.leftSide{
	width: inherit;
	float: none;
	display: block;
}
.site {
	width: inherit;
	max-width: 950px;
	margin: auto;
	margin-bottom: 160px;
}
.blogHeader {
	width: 95%;
	max-width: 900px;
	margin-right: 1%;
	margin-left: 1%;
}
#post {
	margin: auto;
	margin-top:2em;
}
#related {
	margin:auto;
}
</style>

<div id="post">
{{ content }}
</div>

<div id="blogSocialButtons"></div>

<div id="related">
  <h2>Related</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li class="thisPost"><span>{{ post.date | date_to_string }}</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>